{% set itempricing = page.wire('modules').get('ItemPricing') %}
<table class="table table-striped" id="items-table">
	<thead>
		<tr>
			<th scope="col">
				Item ID
			</th>
			<th scope="col">
				Description
			</th>
			{% if page.wire('input').get.offsetExists('fororder') %}
				<th scope="col">
					Available
				</th>
			{% endif %}
		</tr>
	</thead>
	{% if results.count() == 0 %}
		<tr>
			<td colspan="7" class="bg-secondary text-white text-center">
				No Results found
			</td>
		</tr>
	{% endif %}

	{% for item in results %}
		<tr>
			<td>
				<a href="#" class="link item-link" data-itemid="{{ item.itemid }}" data-description="{{ item.description }}" data-description2="{{ item.description2 }}">
					<strong>{{ item.itemid }}</strong>
				</a>
			</td>
			<td class="{{ datamatcher.string(item.name, q) ? 'highlight' : '' }}">
				<small>
					{{ item.desc }} <br>
					{{ item.desc2 }}
				</small>
			</td>
			{% if page.wire('input').get.offsetExists('fororder') %}
				<td>
					{{ itempricing.get_pricing(item.itemid).qty }}
				</td>
			{% endif %}
		</tr>
	{% endfor %}
</table>
