<div class="modal fade" id="country-modal" tabindex="-1" role="dialog" aria-labelledby="country-modal-label" aria-hidden="true" data-input="">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="country-modal-label">Choose A country</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped" id="countries-table">
					<thead>
						<tr>
							<th colspan="3">ISO Codes</th>
							<th>Custom</th>
							<th>Description</th>
							<th class="text-right">Exchange Rate</th>
						</tr>
					</thead>
					{% for country in epo.get_country_codes() %}
						<tr>
							<td>
								<a href="#" class="link countrycode" data-code="{{ country.code }}" data-rate="{{ country.exchange_rate|number_format(epo.decimal_places_price_so())  }}">
									{{ country.code }}
								</a>
							</td>
							<td>{{ country.alpha2 }}</td>
							<td>{{ country.numeric }}</td>
							<td>{{ country.custom_code }}</td>
							<td>{{ country.description }}</td>
							<td class="text-right">{{ country.exchange_rate|number_format(epo.decimal_places_price_so()) }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
